<div class="row d-flex justify-content-around">
  <div class="col-md-3">
    <div class="card">
      <img src="https://image.freepik.com/vetores-gratis/desenvolvedor-com-lupa-trabalhando-com-big-data-e-seta-em-zigue-zague_335657-352.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="https://image.freepik.com/vetores-gratis/interface-movel-de-agendamento-de-consultas_23-2148556784.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
